<% for column in Office.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @office.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', edit_office_path(@office) %> |
<%= link_to 'Back', offices_path %>
