<h1>Edit Benefit Information</h1>

<%= form_for(@benefit) do |f| %>
	<fieldset class="form">
	<%= render :partial => "form", :object => f %>
  <div>
		<%= f.submit "Update" %>
		<button type="button" onclick="javascript:history.go(-1)">Cancel</button>
	</div>
	</fieldset>
<% end %>
